/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Color Pallet */
/* :root {
  --color1: #5D5C61;
  --color2: #938E94;
  --color3: #7395AE;
  --color4: #557A95;
  --color5: #B0A295;
} */

:root {
  --color1: #2C3532;
  --color2: #106466;
  --color3: #D8B08C;
  --color4: #FFCB9B;
  --color5: #D2E9E3;
}

main{
  background-color: var(--color5);
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding: 5% 10%;
  color:var(--color2)
}
main > *{
  margin: 0px;
}

h3 {
  margin-bottom: 0px;
}